# Virtual Environment
venv/
.venv/

# Python Cache
__pycache__/
*.py[cod]

# Environment Variables
.env
.env.*

# Flask
instance/

# SQLite Database
*.db
*.sqlite
*.sqlite3

# IDE
.vscode/
.idea/

# OS Files
.DS_Store
Thumbs.db